{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>
  <div class='card p-3'>
    <div class='col-12'>
      <div class='row g-2'>
        <div class='col-10'>
          <b>Yuliia Tunchyk</b>
        </div>
        <div class='col-2'>
          <b>Resume project</b>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <h4>Cписок сторінок</h4>
  <p class='mt-3 mb-5'>Resume project - це проект який
    влючає в себе такі сторінки:</p>
  <div>
    <a
      href='/summary'
      type='button'
      class='btn btn-primary'
    >Summary</a>
    <br />
    <a
      href='/skills'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Skills</a>
    <br />
    <a
      href='/education'
      type='button'
      class='btn btn-primary'
    >Education</a>
    <br />
    <a
      href='/work'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Work</a>
    <br />
    <a
      href='/web'
      type='button'
      class='btn btn-primary'
    >Web</a>
    <br />
    <a
      href='/program'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Program</a>
    <br />
    <a
      href='/bio'
      type='button'
      class='btn btn-primary'
    >Bio</a>
    <br />
    <a
      href='/person'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Person</a>
    <br />
    <a
      href='/shophome'
      type='button'
      class='btn btn-primary'
    >Shophome</a>
    <br />
    <a
      href='/task31'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Task31</a>
    <br />
    <a
      href='/mac'
      type='button'
      class='btn btn-primary'
    >Mac</a>
    <br />
    <a
      href='/task22'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Task22</a>
    <br />
    <a
      href='/task21'
      type='button'
      class='btn btn-primary'
    >Task21</a>
    <br />
    <a
      href='/facebook'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Facebook</a>
    <br />
    <a
      href='/car'
      type='button'
      class='btn btn-primary'
    >Car</a>
    <br />
    <a
      href='/js'
      type='button'
      class='btn btn-primary mt-3 mb-3'
    >Js</a>
    <br />
    <a
      href='/shopcatalog'
      type='button'
      class='btn btn-primary'
    >Shopcatalog</a>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}